* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr 100px;
    user-select: none;
    overflow: hidden;
    transition: all 0.15s;
}

.Loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #80ceff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.Dir {
    grid-area: 1 / 1 / 3 / 2;
    padding-top: 20px;
    padding-left: 5px;
    box-sizing: border-box;
    background-color: #80ceff8d;
    overflow-x: hidden
}

.Dir ul,
.Dir li {
    width: 100%;
}

.Dir ul {
    margin: 5px 0;
    list-style-type: none;
}

.Dir li {
    margin-left: 10px;
    cursor: pointer;
}

.Browse {
    position: relative;
    grid-area: 1 / 2 / 2 / 3;
    background-color: #ff80808b;
    user-select: text;
    overflow: hidden;
}

.Browse .AllBrowse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    overflow: auto;
    display: none;
}

.Browse .No {
    display: none;
}

.Browse .Img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-image: var(--Url);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

.Browse .Audio {
    display: none;
}

.Browse .Video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
}

.Browse .Text {
    width: 100%;
    height: 100%;
    display: none;
}

.Browse .Html {
    width: 100%;
    height: 100%;
    display: none;
}

.Controls {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #82ff808b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Controls .Download {
    padding: 5px 30px;
    margin: 0 auto;
    width: 50px;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    transition: all 0.15s;
    background-color: #67c23a;
    color: white;
    border: #67c23a 1px solid;
}

.Controls .Download:hover {
    background-color: rgba(103, 194, 58, 0.6);
    border: 1px solid rgba(103, 194, 58, 0.6);
}

.Controls .Download:active {
    background-color: #53a412;
    border: 1px solid #53a412;
}

.Shrinkage{
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    font-size: 26px;
    font-weight: bold;
    background-color: #fff799;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
